<% content_for :page_title, "Home" %>


<div class="row">
  <div class="col-8">
    <p class="h4">Latest Posts</p>

    <% @posts.each do |post| %>
      <%= render partial: "posts/post", locals: { post:post } %>
    <% end %>
  </div>
  <div class="col-4">
    <p class="h4">About</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Alias animi corporis cum eligendi odio.
      Ad aspernatur esse illo ipsum molestias nam natus,
      nisi non numquam odit qui quia, quibusdam voluptas?</p>

    <p class="h4">Categories</p>
    <% @categories.each do |category| %>
      <p><%= category.title %> - <%= category.total_count %></p>
    <% end %>
  </div>
</div>




<% content_for :scripts do %>
  <div class="container">
    <div class="row">
      <div class="col">
        This will be displayed at the bottom of the file
        Find me in homepage.html.erb
      </div>
    </div>
  </div>

<% end %>